@charset "UTF-8";
html {
  user-select: none;
  -moz-user-select: none;
  /* Firefox */
  -webkit-user-select: none;
  /* Safari、Chromeなど */
  font-size: 62.5%;
  /* font:10px */
  /*IE(Internet Explorer)・Microsoft Edgeへの対応*/
  -ms-overflow-style: none;
  /*Firefoxへの対応*/
  scrollbar-width: none;
}

/*Google Chrome、Safariへの対応*/
html::-webkit-scrollbar {
  display: none;
}

body {
  font-size: 1.6rem;
  /* 16px */
  color: #103010;
  font-family: "Noto Serif", "Noto Serif JP", serif;
}
body.active {
  width: 100%;
  height: 100%;
  position: fixed;
}

/*! destyle.css v3.0.2 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  /* 1 */
  appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit;
  /* 2 */
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */
[type=checkbox] {
  -webkit-appearance: checkbox;
  appearance: checkbox;
}

[type=radio] {
  -webkit-appearance: radio;
  appearance: radio;
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px;
  /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit;
  /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

.header-nav-container {
  width: 100vw;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #FFFFFF;
  transition: 0.5s;
}
.header-nav-container.hidden {
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.1);
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  height: 80px;
  margin: 0 auto;
}
.header-nav.hidden {
  animation: nav_width 0.5s forwards;
}
.header-nav.top {
  animation: nav_width_out 0.5s forwards;
}
.header-nav .title {
  font-size: 3.2rem;
  font-weight: bold;
  white-space: nowrap;
}
.header-nav .title a {
  text-shadow: 2px 2px rgba(0, 0, 0, 0.15);
}
.header-nav .nav {
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
.header-nav .nav__item {
  display: flex;
  position: relative;
}
.header-nav .nav__item--link {
  padding: 0 4px;
  position: relative;
  display: inline-block;
  text-decoration: none;
}
.header-nav .nav__item--link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 1px;
  background: #103010;
  transform: scale(0, 1);
  transform-origin: right top;
}
.header-nav .nav__item--link::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 1px;
  background: #103010;
  transform: scale(0, 1);
  transform-origin: left top;
}
.header-nav .nav__item:last-of-type {
  margin-right: -16px;
}
.header-nav .nav__item:hover .nav__item--link::before {
  animation: underline-left 0.4s forwards;
}
.header-nav .nav__item:hover .nav__item--link::after {
  animation: underline-right 0.4s forwards;
}
.header-nav .nav__item:hover .line-left span:nth-of-type(2) {
  animation: side 0.2s 0.2s forwards;
}
.header-nav .nav__item:hover .line-right span:nth-of-type(2) {
  animation: side 0.2s 0.2s forwards;
}
.header-nav .nav__item:hover .nav__item-sub {
  display: inline;
  animation: sub-item 0.3s 0.4s forwards;
}
.header-nav .nav__item:hover .nav__item-box1 {
  animation: box1 0.2s forwards;
}
.header-nav .nav__item:hover .nav__item-box2 {
  animation: box2 0.2s 0.2s forwards;
}
.header-nav .nav__item.active .nav__item--link::before {
  animation: underline-left 0.8s forwards;
}
.header-nav .nav__item.active .nav__item--link::after {
  animation: underline-right 0.8s forwards;
}
.header-nav .nav__item.active .line-left span:nth-of-type(2) {
  animation: side 0.5s 0.3s forwards;
}
.header-nav .nav__item.active .line-right span:nth-of-type(2) {
  animation: side 0.5s 0.3s forwards;
}
.header-nav .nav .line-right {
  height: 18px;
  width: 16px;
  position: relative;
}
.header-nav .nav .line-right span:first-of-type {
  position: absolute;
  background-color: #103010;
  height: 1px;
  width: 12px;
  top: 5px;
  left: -2px;
  transform: rotate(45deg);
}
.header-nav .nav .line-right span:nth-of-type(2) {
  position: absolute;
  background-color: #FFFFFF;
  height: 100%;
  width: 100%;
  z-index: 10;
  left: -1px;
  transform-origin: top;
  animation: side_out 0.5s forwards;
}
.header-nav .nav .line-right span:last-of-type {
  position: absolute;
  background-color: #103010;
  height: 1px;
  width: 12px;
  bottom: 4px;
  left: -2px;
  transform: rotate(-45deg);
}
.header-nav .nav .line-left {
  height: 18px;
  width: 16px;
  position: relative;
}
.header-nav .nav .line-left span:first-of-type {
  position: absolute;
  background-color: #103010;
  height: 1px;
  width: 12px;
  top: 5px;
  right: -2px;
  transform: rotate(-45deg);
}
.header-nav .nav .line-left span:nth-of-type(2) {
  position: absolute;
  background-color: #FFFFFF;
  height: 100%;
  width: 100%;
  z-index: 10;
  right: -1px;
  transform-origin: top;
  animation: side_out 0.5s forwards;
}
.header-nav .nav .line-left span:last-of-type {
  position: absolute;
  background-color: #103010;
  height: 1px;
  width: 12px;
  bottom: 4px;
  right: -2px;
  transform: rotate(45deg);
}
.header-nav .hamburger {
  display: none;
}

.mobile {
  display: none;
}

@keyframes nav_width {
  from {
    width: 85%;
  }
  to {
    width: 900px;
  }
}
@keyframes nav_width_out {
  from {
    width: 900px;
  }
  to {
    width: 85%;
  }
}
@keyframes underline-right {
  from {
    transform: scale(0, 1);
    transform-origin: left top;
  }
  49% {
    transform-origin: left top;
  }
  50% {
    transform-origin: right top;
    transform: scale(1, 1);
  }
  to {
    transform-origin: right top;
    transform: scale(0, 1);
  }
}
@keyframes underline-left {
  from {
    transform: scale(0, 1);
    transform-origin: right top;
  }
  49% {
    transform-origin: right top;
  }
  50% {
    transform-origin: left top;
    transform: scale(1, 1);
  }
  to {
    transform-origin: left top;
    transform: scale(0, 1);
  }
}
@keyframes side {
  from {
    transform: scale(1, 1);
  }
  to {
    transform: scale(1, 0);
  }
}
@keyframes side_out {
  from {
    transform: scale(1, 0);
  }
  to {
    transform: scale(1, 1);
  }
}
.top-container {
  width: 100vw;
}

.top {
  width: 100%;
  position: relative;
}

.top__img {
  width: 100%;
  height: calc(100vh - 80px);
  object-fit: cover;
}

.top__overview-container {
  width: 40%;
  height: 300px;
  position: absolute;
  z-index: 50;
  top: 50%;
  transform: translateY(-50%);
  left: 7.5%;
  background-color: #FFFFFF;
  align-items: center;
  border-radius: 4px;
  display: flex;
  justify-content: center;
}
.top__overview-text {
  font-size: 2.4rem;
  width: 85%;
  text-align: center;
  align-items: center;
}
.top__overview-text .typing-effect {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.typing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.typing-effect1 {
  width: 15ch;
  animation: typing1 0.5s steps(8) forwards;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid gray;
  margin-bottom: 16px;
}

.typing-effect2 {
  width: 24ch;
  animation: typing2 0.9s 0.5s steps(14) forwards, effect 0.6s step-end alternate infinite;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid gray;
  opacity: 0;
}

@keyframes typing1 {
  from {
    width: 0;
  }
  99% {
    border-right: 2px solid gray;
  }
  to {
    border-right: none;
  }
}
@keyframes typing2 {
  from {
    opacity: 1;
    width: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes effect {
  50% {
    border-color: transparent;
  }
}
.works-container {
  padding: 192px 0;
  width: 100vw;
}

.works {
  width: 85%;
  max-width: 900px;
  margin: 0 auto;
}

.works-anchor {
  padding-top: 144px;
  margin-top: -144px;
}

.works__title {
  font-size: 4.8rem;
  margin-bottom: 64px;
  text-align: center;
}
@media (max-width: 600px) {
  .works__title {
    font-size: 4rem;
  }
}

.works__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.works__list .works__item {
  width: calc((85vw - 96px) / 3);
  height: calc((85vw - 96px) / 3);
  max-width: 267.3333333333px;
  max-height: 267.3333333333px;
  margin-bottom: 48px;
  margin-right: 48px;
  position: relative;
  overflow: hidden;
}
.works__list .works__item:nth-of-type(3n) {
  margin-right: 0;
}
.works__list .works__item:last-of-type {
  margin-right: auto;
}
.works__list .works__item:hover .works__item-img {
  transform: translate(0);
}
.works__list .works__item:hover .works__item-bg {
  transform: translate(0);
}
.works__list .works__item:hover .works__item-title-container {
  animation: title-appear 0.5s forwards;
}
.works__list .works__item-img {
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  border-radius: 4px;
  object-fit: cover;
  position: absolute;
  z-index: 50;
  bottom: 0px;
  right: 0px;
  transform: translate(-4px, -4px);
  transition: 0.1s;
}
.works__list .works__item-bg {
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  object-fit: cover;
  position: absolute;
  z-index: 10;
  bottom: 0px;
  right: 0px;
  transition: 0.1s;
}
.works__list .works__item-title-container {
  height: auto;
  width: auto;
  padding: 8px 16px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.1);
  position: absolute;
  z-index: 100;
  right: 8px;
  bottom: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(120%);
  opacity: 0;
  animation: title-hidden 0.5s forwards;
}
.works__list .works__item-title {
  text-align: center;
  color: #103010;
}

@keyframes title-appear {
  0% {
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes title-hidden {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(120%);
    opacity: 0;
  }
}
.about-container {
  padding: 192px 0;
  width: 100vw;
  background-color: #edf0ed;
}

.about-anchor {
  padding-top: 144px;
  margin-top: -144px;
}

.about {
  width: 85%;
  max-width: 900px;
  margin: 0 auto;
}

.about__title {
  font-size: 4.8rem;
  margin-bottom: 64px;
  text-align: center;
}
@media (max-width: 600px) {
  .about__title {
    font-size: 4rem;
  }
}

.about-wrapper {
  display: flex;
}

.about__item-img {
  width: 200px;
  height: 200px;
  border-radius: 4px;
  margin-right: 32px;
  background-color: #FFFFFF;
  padding: 16px;
}

.about__list {
  background-color: #FFFFFF;
  border-radius: 4px;
  padding: 32px;
  width: calc(100% - 200px - 32px);
}
.about__list p {
  margin-bottom: 16px;
}
.about__list dt {
  margin-bottom: 4px;
}
.about__list dd {
  margin-bottom: 16px;
  padding-left: 16px;
}
.about__list dd:last-of-type {
  margin-bottom: 0;
}

.yamablog-container {
  padding: 192px 0;
  width: 100vw;
}

.yamablog {
  width: 85%;
  max-width: 900px;
  margin: 0 auto;
}

.yamablog-anchor {
  padding-top: 144px;
  margin-top: -144px;
}

.yamablog__title {
  font-size: 4.8rem;
  margin-bottom: 64px;
  text-align: center;
}
@media (max-width: 600px) {
  .yamablog__title {
    font-size: 4rem;
  }
}

.yamablog__button.btn {
  display: block;
  width: auto;
  margin: 0 auto;
  padding: 16px 32px;
  background-color: #146614;
  color: #edf0ed;
  border: none;
  box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  transition: 0.1s;
}
.yamablog__button.btn:hover {
  transform: translate(2px, 2px);
  box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.5);
}
.yamablog__button.btn {
  margin: 0 auto;
  margin-right: 16px;
  margin-top: 16px;
  padding: 8px 32px;
}

.swiper {
  width: 100%;
  max-width: 900px;
}
.swiper-slide {
  width: 268px;
}
.swiper-slide__img {
  height: 150.75px;
  width: 100%;
  object-fit: cover;
}
.swiper-slide__text {
  position: relative;
  padding: 16px;
  padding-top: 8px;
  padding-bottom: 0;
  height: calc(100% - 150.75px);
  margin-bottom: auto;
}
.swiper-slide__text-title {
  margin-bottom: 4px;
}
.swiper-slide__text-time {
  font-size: 1.2rem;
  text-align: right;
}

.swiper-nav {
  position: relative;
}
.swiper-nav .swiper-button-prev {
  top: 75.375px;
  color: gray;
  outline-style: none;
  left: -50px;
}
.swiper-nav .swiper-button-next {
  top: 75.375px;
  color: gray;
  outline-style: none;
  right: -50px;
}

.contact-container {
  padding: 192px 0;
  background-color: #edf0ed;
  width: 100vw;
  height: 1000px;
}

.contact {
  width: 85%;
  max-width: 900px;
  margin: 0 auto;
}

.contact-anchor {
  padding-top: 144px;
  margin-top: -144px;
}

.contact__title {
  font-size: 4.8rem;
  margin-bottom: 64px;
  text-align: center;
}
@media (max-width: 600px) {
  .contact__title {
    font-size: 4rem;
  }
}

.mw_wp_form {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  border-radius: 4px;
  background-color: #FFFFFF;
  padding: 48px;
}
.mw_wp_form p:nth-of-type(2n-1) {
  margin-bottom: 4px;
}
.mw_wp_form input,
.mw_wp_form textarea {
  resize: none;
  border-radius: 4px;
  border: #ccc 1px solid;
  width: calc(100% - 8px);
  margin-left: 8px;
  margin-bottom: 24px;
  padding: 8px;
}
.mw_wp_form input[type=submit].btn {
  display: block;
  width: auto;
  margin: 0 auto;
  padding: 16px 32px;
  background-color: #146614;
  color: #edf0ed;
  border: none;
  box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  transition: 0.1s;
}
.mw_wp_form input[type=submit].btn:hover {
  transform: translate(2px, 2px);
  box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.5);
}

.footer {
  padding: 4px 0;
  width: 100vw;
  text-align: center;
}

.footer__title {
  text-align: center;
}

@media (max-width: 1050px) {
  .header-nav {
    width: 85%;
    max-width: 900px;
  }
  .header-nav.hidden {
    animation: none;
  }
  .header-nav.top {
    animation: none;
  }

  .swiper-nav .swiper-button-prev {
    left: 16px;
  }
  .swiper-nav .swiper-button-next {
    right: 16px;
  }
}
@media (max-width: 900px) {
  .header-nav-container {
    width: 100vw;
    position: fixed;
    top: 0;
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.1);
  }

  .header-nav .nav .line-right {
    width: 10px;
  }
  .header-nav .nav .line-left {
    width: 10px;
  }

  .top__img {
    margin-top: 80px;
    width: 100%;
    height: 500px;
  }

  .top__overview-container {
    width: 60%;
    height: 200px;
    top: 180px;
    transform: translateY(0);
    left: 5%;
  }

  .works__list {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 600px;
  }
  .works__list .works__item {
    width: calc((85vw - 48px) / 2);
    height: calc((85vw - 48px) / 2);
    max-width: 275px;
    max-height: 275px;
    margin-right: 48px;
    position: relative;
  }
  .works__list .works__item:nth-of-type(3n) {
    margin-right: 48px;
  }
  .works__list .works__item:nth-of-type(2n) {
    margin-right: 0;
  }
  .works__list .works__item:last-of-type {
    margin-right: auto;
  }

  .about-wrapper {
    flex-direction: column;
  }

  .about {
    max-width: 600px;
  }

  .about__item-img {
    border-radius: 50%;
    margin-right: 0;
    margin: 0 auto;
    margin-bottom: 32px;
  }

  .about__list {
    width: 100%;
    margin: 0 auto;
  }
}
@media (max-width: 600px) {
  .header-nav-container {
    width: 100vw;
    position: fixed;
    top: 0;
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.1);
  }

  .header-nav .nav .line-right {
    width: 10px;
  }
  .header-nav .nav .line-left {
    width: 10px;
  }
  .header-nav .nav {
    display: none;
  }

  /*　ハンバーガーボタン　*/
  .header-nav {
    /* ナビ開いてる時のボタン */
  }
  .header-nav .hamburger {
    display: block;
    position: fixed;
    z-index: 3;
    right: 16px;
    top: 21px;
    width: 42px;
    height: 42px;
    cursor: pointer;
    text-align: center;
  }
  .header-nav .hamburger span {
    display: block;
    position: absolute;
    width: 30px;
    height: 2px;
    left: 6px;
    background: Gray;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
  }
  .header-nav .hamburger span:nth-child(1) {
    top: 10px;
  }
  .header-nav .hamburger span:nth-child(2) {
    top: 20px;
  }
  .header-nav .hamburger span:nth-child(3) {
    top: 30px;
  }
  .header-nav .hamburger.active {
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-transition-delay: 0.4s;
    -o-transition-delay: 0.4s;
    transition-delay: 0.4s;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .header-nav .hamburger.active span:nth-child(2) {
    width: 0px;
  }
  .header-nav .hamburger.active span:nth-child(1),
.header-nav .hamburger.active span:nth-child(3) {
    -webkit-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    transition-delay: 0.2s;
  }
  .header-nav .hamburger.active span:nth-child(1) {
    -webkit-transform: translateY(8px);
    -ms-transform: translateY(8px);
    -o-transform: translateY(8px);
    transform: translateY(8px);
  }
  .header-nav .hamburger.active span:nth-child(3) {
    -webkit-transform: translateY(-12px) rotate(90deg);
    -ms-transform: translateY(-12px) rotate(90deg);
    -o-transform: translateY(-12px) rotate(90deg);
    transform: translateY(-12px) rotate(90deg);
  }

  /* このクラスを、jQueryで付与・削除する */
  nav.active {
    opacity: 100;
  }

  .mobile {
    background-color: rgba(248, 255, 248, 0.95);
    position: fixed;
    display: flex;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    z-index: 100;
    transform: translate(-50%, -200vh);
    transition: 0.5s;
  }
  .mobile__item {
    margin-bottom: 64px;
    font-size: 2rem;
    margin-bottom: 64px;
    padding-bottom: 8px;
    border-bottom: rgba(0, 0, 0, 0.2) 1px solid;
    width: 50%;
  }
  .mobile__item--link {
    transition: 0.3s;
  }
  .mobile__item--link:hover {
    opacity: 0.6;
  }
  .mobile.active {
    transform: translate(-50%, -50%);
  }

  .top__img {
    height: 400px;
  }

  .top__overview-container {
    background-color: rgba(255, 255, 255, 0.8);
    width: 85%;
    height: 200px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(calc(40px - 50%));
  }
  .top__overview-text {
    font-size: 2rem;
  }

  .typing-effect1 {
    width: 15ch;
  }

  .typing-effect2 {
    width: 23ch;
  }

  .works__list .works__item {
    width: calc((85vw - 0px) / 1);
    height: calc((85vw - 0px) / 1);
    max-width: 898px;
    max-height: 898px;
    margin-right: 0;
    position: relative;
  }
}
@media (max-width: 600px) and (min-width: 450px) {
  .works__list .works__item {
    height: 300px;
  }
  .works__list .works__item-img {
    object-position: top;
  }
}
@media (max-width: 600px) {
  .works__list .works__item:nth-of-type(3n) {
    margin-right: 0;
  }
}
@media (max-width: 600px) {
  .works__list .works__item:nth-of-type(2n) {
    margin-right: 0;
  }
}
@media (max-width: 600px) {
  .yamablog {
    width: 100vw;
  }
}
@media (max-width: 600px) {
  .yamablog__button.btn {
    margin-right: calc(7.5% + 16px);
  }
}
@media (max-width: 600px) {
  .swiper {
    width: 100vw;
    max-width: none;
  }
  .swiper-slide {
    width: 100vw;
  }
  .swiper-slide__img {
    width: 100%;
  }
}
@media (max-width: 600px) {
  .mw_wp_form {
    padding: 48px 24px;
  }
}
