@charset "UTF-8";
html {
  font-size: 62.5%;
  /* font:10px */
}

body {
  font-size: 1.6rem;
  /* 16px */
  color: #191919;
  font-family: "Lato", "Noto Sans JP", sans-serif;
}
body.active {
  width: 100%;
  height: 100%;
  position: fixed;
}

/*! destyle.css v3.0.2 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  /* 1 */
  appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit;
  /* 2 */
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */
[type=checkbox] {
  -webkit-appearance: checkbox;
  appearance: checkbox;
}

[type=radio] {
  -webkit-appearance: radio;
  appearance: radio;
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px;
  /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit;
  /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

.header-nav {
  width: 100vw;
  height: 80px;
  background: linear-gradient(to right, #4b6cb7, #182848);
  display: flex;
  align-items: center;
}
.header-nav .title-container {
  margin-left: 39px;
  margin-right: 24px;
}
.header-nav .title-container .logo {
  width: 136px;
  height: 29px;
}
.header-nav .nav__list {
  display: flex;
  align-items: center;
}
.header-nav .nav__item {
  color: #FFFFFF;
  margin-right: 8px;
  text-align: center;
}
.header-nav .nav__item div:last-of-type {
  font-size: 10px;
}
.header-nav .nav__line {
  width: 21px;
  height: 24px;
  margin-right: 8px;
  position: relative;
}
.header-nav .nav__line span {
  position: absolute;
  top: -6px;
  left: 10px;
  background-color: #FFFFFF;
  width: 1px;
  height: 32px;
  transform: rotate(40deg);
}

.nav--fixd {
  display: none;
}

.top-container {
  position: relative;
  width: 100vw;
}

.top__background {
  position: relative;
  z-index: -100;
  background: linear-gradient(to right, #4b6cb7, #182848);
  width: 100vw;
}
.top__background .swiper-slide img {
  width: 100%;
}

.top__text-container {
  width: 100%;
  max-width: 1016px;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: calc((100vw - 1016px) / 2);
  z-index: 100;
}
.top__text-container .top__title {
  font-size: 9.6rem;
  line-height: 1.1666666667;
  font-weight: 900;
  color: #FFFFFF;
  padding-top: 100px;
  text-shadow: 4px 4px 4px rgba(24, 40, 72, 0.5);
  letter-spacing: 2px;
}
.top__text-container .top__discription {
  font-size: 3.2rem;
  position: relative;
  width: fit-content;
  font-weight: bold;
  margin-top: 21px;
  margin-left: 27px;
  padding: 0 25px;
  height: 64px;
  line-height: 64px;
  text-align: center;
  z-index: 10;
}
.top__text-container .top__discription::after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform: skewX(-40deg);
  background-color: #FFFFFF;
  z-index: -10;
  box-shadow: 8px 4px #182848;
}
.top__text-container .top__discription:nth-of-type(2) {
  margin-top: 16px;
}

.news {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 16px;
  height: 64px;
  width: 100%;
  margin: 0 auto;
  max-width: 1016px;
  display: flex;
  background-color: #182848;
}
.news .news__title {
  color: #FFFFFF;
  width: 150px;
  line-height: 64px;
  padding-left: 40px;
}
.news .news__content {
  position: relative;
  z-index: 10;
  max-width: 793px;
  width: calc(100% - 243px);
  display: flex;
  align-items: center;
}
.news .news__content::after {
  position: absolute;
  content: "";
  max-width: 793px;
  width: 100%;
  height: 60px;
  top: auto;
  bottom: auto;
  left: auto;
  right: auto;
  transform: skewX(-40deg);
  background-color: #FFFFFF;
  z-index: -10;
}
.news .news__content--time {
  margin-left: 49px;
}
.news .news__content--category {
  font-size: 12px;
  padding: 7px 16px;
  background-color: #b8614b;
  color: #FFFFFF;
  border-radius: 8px;
  margin-left: 24px;
}
.news .news__content--title {
  margin-left: 24px;
}
.news .news__arrow {
  color: #FFFFFF;
  width: 93px;
  line-height: 64px;
  padding-right: 32px;
  text-align: right;
  font-size: 18px;
}

.services-container {
  width: 100vw;
  background-color: #f0f0f0;
  margin: 160px 0 209px;
  position: relative;
}

.services__background {
  position: absolute;
  right: -10px;
  width: 27.2vw;
  height: 31.84vw;
  transform: skewX(-41deg);
  background-color: #FFFFFF;
}

.services-inner {
  width: 100%;
  max-width: 1016px;
  margin: 0 auto;
  position: relative;
}

.services__img {
  position: absolute;
  top: 40px;
  left: 0;
}

.services__text {
  max-width: 523px;
  margin-left: auto;
}
.services__text .services__title-container {
  display: flex;
  padding: 40px 0;
}
.services__text .services__title-container .title-style {
  font-size: 4.8rem;
  line-height: 0.75;
  font-weight: bold;
}
.services__text .services__title-container .nav__line {
  width: 21px;
  height: 24px;
  margin: auto 8px 0;
  position: relative;
}
.services__text .services__title-container .nav__line span {
  position: absolute;
  top: -4px;
  left: 10px;
  background-color: #4b6cb7;
  width: 1px;
  height: 32px;
  transform: rotate(40deg);
}
.services__text .services__title-container .nav__line::after {
  width: 200px;
  position: absolute;
  font-size: 2.4rem;
  content: "事業内容";
  color: #4b6cb7;
  left: 30px;
  bottom: -5px;
}
.services__text .services__title--sub {
  font-size: 3.2rem;
  line-height: 1;
  margin-bottom: 22px;
}
.services__text .services__title--sub div:last-of-type {
  margin-top: 13px;
}
.services__text .services__content {
  line-height: 2;
  margin-bottom: 24px;
}
.services__text .services__content p {
  letter-spacing: 0.02em;
}
.services__text .services__button {
  display: block;
  width: auto;
  min-width: 256px;
  text-align: center;
  padding: 24px 40px;
  background-color: #4b6cb7;
  color: #FFFFFF;
  line-height: 0.9;
  border: none;
  box-shadow: 0px 3px 4px 0 rgba(24, 40, 72, 0.46);
  position: relative;
  bottom: -18px;
}
.services__text .services__button span {
  position: relative;
  font-size: 20px;
  margin-left: 16px;
  top: 3px;
  left: -1px;
}

.about-container {
  width: 100vw;
  position: relative;
  margin-bottom: 160px;
}

.about__img--back {
  width: 100vw;
  min-height: 656px;
  object-fit: cover;
}

.about-inner {
  max-width: 1016px;
}

.about__text {
  position: absolute;
  width: 504px;
  height: 576px;
  top: 40px;
  left: calc((100vw - 1016px) / 2);
  background-color: #FFFFFF;
  z-index: 10;
  padding: 47px 50px;
}

.about__title-container {
  display: flex;
  margin-bottom: 32px;
}
.about__title-container .title-style {
  font-size: 4.8rem;
  line-height: 0.75;
  font-weight: bold;
}
.about__title-container .nav__line {
  width: 21px;
  height: 24px;
  margin: auto 8px 0;
  position: relative;
}
.about__title-container .nav__line span {
  position: absolute;
  top: -4px;
  left: 10px;
  background-color: #4b6cb7;
  width: 1px;
  height: 32px;
  transform: rotate(40deg);
}
.about__title-container .nav__line::after {
  width: 200px;
  position: absolute;
  font-size: 2.4rem;
  content: "園崎組について";
  color: #4b6cb7;
  left: 30px;
  bottom: -5px;
}
.about__text-content {
  line-height: 2;
  margin-bottom: 36px;
}
.about__text-content p {
  letter-spacing: 0.02em;
}

.about__button {
  display: block;
  width: auto;
  min-width: 256px;
  text-align: center;
  padding: 24px 40px;
  background-color: #4b6cb7;
  color: #FFFFFF;
  line-height: 0.9;
  border: none;
  box-shadow: 0px 3px 4px 0 rgba(24, 40, 72, 0.46);
  margin-bottom: 32px;
}
.about__button span {
  position: relative;
  font-size: 20px;
  margin-left: 16px;
  top: 3px;
  left: -1px;
}

.about__img {
  width: 100%;
  height: 120px;
  object-fit: cover;
  margin: 0 auto;
}

.works-container {
  width: 100vw;
  background-color: #f0f0f0;
  position: relative;
  z-index: -20;
  margin-bottom: 160px;
}

.works__background {
  position: absolute;
  width: 97%;
  height: 56.2vw;
  transform: skewX(41deg);
  background-color: #FFFFFF;
  top: 0;
  left: 24px;
  z-index: -10;
}

.works-container--inner {
  max-width: 1016px;
  width: 100%;
  margin: 0 auto;
}

.works__title-container {
  display: flex;
  justify-content: center;
  transform: translateX(-72px);
  margin-bottom: 36px;
}
.works__title-container .title-style {
  font-size: 4.8rem;
  line-height: 0.75;
  font-weight: bold;
}
.works__title-container .nav__line {
  width: 21px;
  height: 24px;
  margin: auto 8px 0;
  position: relative;
}
.works__title-container .nav__line span {
  position: absolute;
  top: -4px;
  left: 10px;
  background-color: #4b6cb7;
  width: 1px;
  height: 32px;
  transform: rotate(40deg);
}
.works__title-container .nav__line::after {
  width: 200px;
  position: absolute;
  font-size: 2.4rem;
  content: "園崎組の実績";
  color: #4b6cb7;
  left: 30px;
  bottom: -5px;
}
.works__title--sub {
  font-size: 3.2rem;
  line-height: 1;
  margin-bottom: 33px;
  text-align: center;
}
.works__title--sub div:last-of-type {
  margin-top: 13px;
}

.works__content {
  text-align: center;
  line-height: 2;
  margin-bottom: 48px;
}
.works__content p {
  letter-spacing: 0.02em;
}

.works__list {
  display: flex;
  justify-content: center;
  margin-bottom: 38px;
}

.works__item {
  width: 472px;
  box-shadow: 0 0 10px 0 rgba(25, 25, 25, 0.25);
  position: relative;
  background-color: #FFFFFF;
}
.works__item:nth-of-type(2) {
  margin-left: 24px;
  transform: translateX(17px);
}
.works__item-number {
  position: absolute;
  width: 56px;
  height: 56px;
  font-size: 2.4rem;
  color: #FFFFFF;
  background-color: #191919;
  top: -16px;
  left: -16px;
  text-align: center;
  line-height: 56px;
}
.works__item-img {
  width: 100%;
  height: 240px;
  object-fit: cover;
}
.works__item-text {
  padding: 28px 24px;
}
.works__item-title {
  font-size: 2.4rem;
  color: #b8614b;
  margin-bottom: 21px;
}
.works__item-content {
  line-height: 2;
  letter-spacing: 0.3px;
}
.works__item-content p {
  letter-spacing: 0.02em;
}

.works__button {
  display: block;
  width: auto;
  min-width: 256px;
  text-align: center;
  padding: 24px 40px;
  background-color: #4b6cb7;
  color: #FFFFFF;
  line-height: 0.9;
  border: none;
  box-shadow: 0px 3px 4px 0 rgba(24, 40, 72, 0.46);
  margin: 0 auto;
}
.works__button span {
  position: relative;
  font-size: 20px;
  margin-left: 16px;
  top: 3px;
  left: -1px;
}

.recruit-container {
  padding: 80px 0;
  width: 100vw;
  background-color: #f0f0f0;
}

.recruit-container--inner {
  max-width: 1016px;
  width: 100%;
  margin: 0 auto;
}

.recruit__title-container {
  display: flex;
  margin-bottom: 32px;
  justify-content: center;
  transform: translateX(-48px);
}
.recruit__title-container .title-style {
  font-size: 4.8rem;
  line-height: 0.75;
  font-weight: bold;
}
.recruit__title-container .nav__line {
  width: 21px;
  height: 24px;
  margin: auto 8px 0;
  position: relative;
}
.recruit__title-container .nav__line span {
  position: absolute;
  top: -4px;
  left: 10px;
  background-color: #4b6cb7;
  width: 1px;
  height: 32px;
  transform: rotate(40deg);
}
.recruit__title-container .nav__line::after {
  width: 200px;
  position: absolute;
  font-size: 2.4rem;
  content: "採用情報";
  color: #4b6cb7;
  left: 30px;
  bottom: -5px;
}
.recruit__list {
  display: flex;
}
.recruit__list .recruit__item-btn {
  display: block;
  width: auto;
  min-width: 256px;
  text-align: center;
  padding: 24px 40px;
  background-color: #4b6cb7;
  color: #FFFFFF;
  line-height: 0.9;
  border: none;
  box-shadow: 0px 3px 4px 0 rgba(24, 40, 72, 0.46);
  justify-content: space-between;
}
.recruit__list .recruit__item-btn span {
  position: relative;
  font-size: 20px;
  margin-left: 16px;
  top: 3px;
  left: -1px;
}

.recruit__button {
  display: block;
  width: auto;
  min-width: 256px;
  text-align: center;
  padding: 24px 40px;
  background-color: #4b6cb7;
  color: #FFFFFF;
  line-height: 0.9;
  border: none;
  box-shadow: 0px 3px 4px 0 rgba(24, 40, 72, 0.46);
  margin: 0 auto;
}
.recruit__button span {
  position: relative;
  font-size: 20px;
  margin-left: 16px;
  top: 3px;
  left: -1px;
}
