@use "../global" as *;

$max-width: 85vw;

@media (max-width: 1200px) {
  // top
  .top__text-container {
    width: 90%;
    left: calc((100vw - $max-width) / 2);
    padding-top: 50px;

    .top__title {
      @include font(72);
    }
  }

  .top__discription-container {
    display: flex;

    .top__discription {
      @include font(ll);
      margin-top: 16px;
    }
  }

  .news {
    max-width: $max-width;
  }

  // services
  .services-inner {
    max-width: $max-width;
  }

  .services__img {
    width: 40%;
  }

  .services__text {
    width: 55%;
  }

  // about
  .about-inner {
    max-width: $max-width;
  }

  .about__text {
    left: calc((100vw - $max-width) / 2);
  }

  // works
  .works-container--inner {
    max-width: $max-width;
  }

  // recruit
  .recruit-container--inner {
    max-width: $max-width;
  }

  .recruit__list {
    justify-content: center;
    .recruit__item {
      margin-right: 48px;

      &:last-of-type {
        margin-right: 0;
      }

      &-img {
        width: 240px;
      }

      &-btn {
        width: 200px;
        min-width: 200px;
      }
    }
  }



  // contact
  .contact-container--inner {
    max-width: $max-width;
    margin-left: calc((100vw - $max-width) / 2);
  }

  // footer
  .footer-container {
    max-width: $max-width;
  }

  .footer-copy {
    &--inner {
      max-width: $max-width;
    }
  }

}