@use "../config" as *;


// font
@mixin font($font, $height:folse) {
  @if type-of($font) == number {
    font-size: $font / 10 * 1rem;
  } @else {
    font-size: map-get($fonts, $font);
  }
  @if type-of($height) == number {
    line-height: calc($height / $font);
  }
}

// title
@mixin title($content) {
  display: flex;

  .title-style {
    @include font(title);
    line-height: 0.75;
    font-weight: bold;
  }

  .nav__line {
    width: 21px;
    height: 24px;
    margin: auto $spacing-1 0;
    position: relative;

    span {
      position: absolute;
      top: -4px;
      left: 10px;
      background-color: $blue;
      width: 1px;
      height: 32px;
      transform: rotate(40deg);
    }

    &::after {
      width: 200px;
      position: absolute;
      @include font(ll);
      content: $content;
      color: $blue;
      left: 30px;
      bottom: -5px;
    }
  }


  @media (max-width: 600px) {
  }
}

// content-width
@mixin content-width() {
  width: $contents-width;
  max-width: $max-width;
  margin: 0 auto;
}

// margin padding
@mixin margin-bottom($size) {
  @if type-of($size) == number {
    margin-bottom: $size * 1px;
  } @else {
    margin-bottom: map-get($sizes, $size);
  }
}

@mixin padding-bottom($size) {
  @if type-of($size) == number {
    padding-bottom: $size * 1px;
  } @else {
    padding-bottom: map-get($sizes, $size);
  }
}

@mixin content-margin($top-size, $bottom-size: null) {
  @if type-of($top-size) == number {
    @if $bottom-size != null {
      margin: $top-size * 1px 0 $bottom-size * 1px;
    } @else {
      margin: $top-size * 1px 0;
    }
  } @else {
    margin: map-get($sizes, $top-size) 0;
  }
}

@mixin content-padding($top-size, $bottom-size: null) {
  @if type-of($top-size) == number {
    @if $bottom-size != null {
      padding: $top-size * 1px 0 $bottom-size * 1px;
    } @else {
      padding: $top-size * 1px 0;
    }
  } @else {
    padding: map-get($sizes, $top-size) 0;
  }
}

@mixin contents-size($content: $contents-count, $width: $max-width) {
  width: calc((85vw - ($spacing-5 * ($content - 1))) / $content);
  height: calc((85vw - ($spacing-5 * ($content - 1))) / $content);
  max-width: calc(($width - ($spacing-5 * ($content - 1)) - 2px) / $content);
  max-height: calc(($width - ($spacing-5 * ($content - 1)) - 2px) / $content);
}



// btn
// header-btn
@mixin btn() {
  display: block;
  width: auto;
  min-width: 256px;
  text-align: center;
  padding: 24px 40px;
  background-color: $blue;
  color: $white;
  line-height: .9;
  border: none;
  box-shadow: 0px 3px 4px 0 rgba($blueBlack, .46);

  span {
    position: relative;
    font-size: 20px;
    margin-left: 16px;
    top: 3px;
    left: -1px;
  }
}

@mixin btn--typeA {
  @include btn;
  display: flex;
  background-color: rgba($color: $black, $alpha: .64);
  justify-content: space-between;
  min-width: none;
  width: 264px;
  height: 56px;
  padding: 20px 16px;
  box-shadow: none;

  span {
    top: 1px;
    left: 2px;
  }
}


// anchor
@mixin anchor {
  padding-top: calc(map-get($sizes, 'l') + $header-nav-height);
  margin-top: calc(-1 * (map-get($sizes, 'l') + $header-nav-height));
}

// レスポンシブ
@mixin setWidth($w) {
  width: $w;
}


// text-content
@mixin text-content {
  line-height: 2;

  p {
    letter-spacing: .02em;
  }
}
