@use "../global" as *;

.about-container {
  @include content-padding(lll);
  width: 100vw;
  background-color: $cGray;
}

.about-anchor {
  @include anchor;
}

.about {
  @include content-width;
}

.about__title {
  @include content-title;
}

.about-wrapper {
  display: flex;
}

.about__item-img {
  width: 200px;
  height: 200px;
  border-radius: $template-radius;
  margin-right: 32px;
  background-color: $cWhite;
  padding: $spacing-2;
}

.about__list {
  background-color: $cWhite;
  border-radius: $template-radius;
  padding: $spacing-4;
  width: calc(100% - 200px - 32px);

  p {
    @include margin-bottom(s);
  }

  dt {
    @include margin-bottom(4);
  }

  dd {
    @include margin-bottom(s);
    padding-left: $spacing-2;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}