@use "../global" as *;

.contact-container {
  @include content-padding(lll);
  background-color: $cGray;
  width: 100vw;
  height: 1000px;
}

.contact {
  @include content-width;
}

.contact-anchor {
  @include anchor;
}

.contact__title {
  @include content-title;
}

.mw_wp_form {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  border-radius: $template-radius;
  background-color: $cWhite;
  padding: $spacing-5;

  p:nth-of-type(2n-1) {
    margin-bottom: $spacing-half;
  }

  input,
  textarea {
    resize: none;
    border-radius: $template-radius;
    border: #ccc 1px solid;
    width: calc(100% - $spacing-1);
    margin-left: $spacing-1;
    margin-bottom: $spacing-3;
    padding: $spacing-1;
  }

  input[type="submit"] {
    @include btn1;
  }
}