@use "../global" as *;

// nav--top
.header-nav {
  width: 100vw;
  height: $header-nav-height;
  background: linear-gradient(to right, $blue, $blueBlack);
  display: flex;
  align-items: center;

  .title-container {
    margin-left: 39px;
    margin-right: $spacing-3;

    .logo {
      width: $logo-width;
      height: $logo-height;
    }
  }

  .nav__list {
    display: flex;
    align-items: center;
  }

  .nav__item {
    color: $white;
    margin-right: $spacing-1;
    text-align: center;

    div:last-of-type {
      font-size: 10px;
    }
  }

  .nav__line {
    width: 21px;
    height: 24px;
    margin-right: $spacing-1;
    position: relative;

    span {
      position: absolute;
      top: -6px;
      left: 10px;
      background-color: $white;
      width: 1px;
      height: 32px;
      transform: rotate(40deg);
    }
  }
}

// nav-fixd
.nav--fixd {
  display: none;
}
