@use "../global" as *;

.recruit-container {
  padding: 80px 0;
  width: 100vw;
  background-color: $gray;
}

.recruit-container--inner {
  max-width: $max-width;
  width: 100%;
  margin: 0 auto;
}

.recruit__title-container {
  @include title("採用情報");
  margin-bottom: 32px;
  justify-content: center;
  transform: translateX(-48px);
}

.recruit__list {
  display: flex;

  .recruit__item {

    &-btn {
      @include btn--typeA;
    }
  }
}

.recruit__button {
  @include btn;
  margin: 0 auto;
}