@use "../global" as *;

.top-container {
  width: 100vw;
}

.top {
  width: 100%;
  position: relative;
}

.top__img {
  width: 100%;
  height: calc(100vh - $header-nav-height);
  object-fit: cover;
}

.top__overview {
  &-container {
    width: 40%;
    height: 300px;
    position: absolute;
    z-index: 50;
    top: 50%;
    transform: translateY(-50%);
    left: 7.5%;
    background-color: $cWhite;
    align-items: center;
    border-radius: $template-radius;
    display: flex;
    justify-content: center;
  }

  &-text {
    @include font(ll);
    width: 85%;
    text-align: center;
    align-items: center;

    .typing-effect {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}


.typing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.typing-effect1 {
  width: 15ch;
  animation: typing1 .5s steps(8) forwards;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid gray;
  @include margin-bottom(s);
}

.typing-effect2 {
  width: 24ch;
  animation: typing2 .9s .5s steps(14) forwards, effect .6s step-end alternate infinite;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid gray;
  opacity: 0;
}

@keyframes typing1 {
  from {
    width: 0
  }
  99% {
    border-right: 2px solid gray;
  }
  to {
    border-right: none;
  }
}

@keyframes typing2 {
  from {
    opacity: 1;
    width: 0
  }
  to {
    opacity: 1;
  }
}

@keyframes effect {
  50% {
    border-color: transparent
  }
}