@use "../global" as *;

.works-container {
  @include content-padding(lll);
  width: 100vw;
}

.works {
  @include content-width;
}

.works-anchor {
  @include anchor;
}

.works__title {
  @include content-title;
}

.works__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .works__item {
    @include contents-size;
    @include margin-bottom(48);
    margin-right: $spacing-5;
    position: relative;
    overflow: hidden;

    &:nth-of-type(3n) {
      margin-right: 0;
    }

    &:last-of-type {
      margin-right: auto;
    }

    &:hover {
      .works__item-img {
        transform: translate(0);
      }

      .works__item-bg {
        transform: translate(0);
      }

      .works__item-title-container {
        animation: title-appear .5s forwards;
      }
    }

    &-img {
      width: calc(100% - 4px);
      height: calc(100% - 4px);
      border-radius: $template-radius;
      object-fit: cover;
      position: absolute;
      z-index: 50;
      bottom: 0px;
      right: 0px;
      transform: translate(-4px, -4px);
      transition: .1s;
    }

    &-bg {
      width: calc(100% - 4px);
      height: calc(100% - 4px);
      background-color: rgba(0, 0, 0, .5);
      border-radius: $template-radius;
      object-fit: cover;
      position: absolute;
      z-index: 10;
      bottom: 0px;
      right: 0px;
      transition: .1s;
    }

    &-title-container {
      height: auto;
      width: auto;
      padding: $spacing-1 $spacing-2;
      border-radius: $template-radius;
      background-color: rgba(#FFF, .8);
      box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, .1);
      position: absolute;
      z-index: 100;
      right: 8px;
      bottom: 8px;
      display: flex;
      justify-content: center;
      align-items: center;
      transform: translateX(120%);
      opacity: 0;
      animation: title-hidden .5s forwards;
    }

    &-title {
      text-align: center;
      color: $cBlack;
    }
  }
}

@keyframes title-appear {
  0% {
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes title-hidden {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(120%);
    opacity: 0;
  }
}